In [8]:
a = 10
b = "hola mundo"
c = 3.14

In [9]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'str'>
<class 'float'>

In [10]:
a = b
print(a)

hola mundo

In [19]:
var = int(input())
var2 = float(input())

1234
3.14

In [20]:
print(type(var))
print(type(var2))

<class 'int'>
<class 'float'>

In [30]:
v = int(input())
if v > 5:
    print(v, "es mayor que 5")
elif v == 5:
    print("v es igual a 5")
else:
    print(v, "es menor que 5")

0
0 es menor que 5

# LOOPS (bucle)

In [31]:
a = 1
while a < 10:
    print(a)
    a+=1

1
2
3
4
5
6
7
8
9

In [32]:
while 1:
    x = int(input("ingrese un valor mayor que cero: "))
    if x > 0:
        break

ingrese un valor mayor que cero0
ingrese un valor mayor que cero-1
ingrese un valor mayor que cero4

In [39]:
a = 0
while a < 10:
    a+=1
    if a == 5:
        continue
    print(a)

1
2
3
4
6
7
8
9
10

## range(start, end, step)
### start: valor de inicio (0 por defecto)
### end: tÃ©rmino - 1
### step: salto (1 por defecto)

In [41]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [42]:
for i in range(5,10):
    print(i)

5
6
7
8
9

In [43]:
for i in range(1,10, 2):
    print(i)

1
3
5
7
9

## Strings

In [45]:
a = "Python"

In [53]:
for i in a:
    print(i)

P
y
t
h
o
n

In [50]:
a[1:3]

'yt'

In [51]:
a[:4]

'Pyth'

# Lista (list)

In [57]:
s = [1,2,3,4]
type(s)

list

In [58]:
print(s)

[1, 2, 3, 4]

In [59]:
for i in s:
    print(i)

1
2
3
4

In [60]:
l = [1, "hola", 3.333, True]

In [61]:
print(l)

[1, 'hola', 3.333, True]

In [63]:
l[1:3]

['hola', 3.333]

In [64]:
len(l) # cantidad de elementos en la lista

4

In [67]:
for i in range(len(l)):
    print(i)

0
1
2
3

In [68]:
#agregar un valor al final de la lista
l.append("lista")

In [69]:
l

[1, 'hola', 3.333, True, 'lista']

In [70]:
l[3] = 10

In [71]:
l

[1, 'hola', 3.333, 10, 'lista']

In [73]:
l.insert(0, 0.0)

In [74]:
l

[0.0, 0.0, 1, 'hola', 3.333, 10, 'lista']

In [76]:
l.remove(0.0)

In [78]:
l.append('hola')

In [79]:
l

[0.0, 1, 'hola', 3.333, 10, 'lista', 'hola']

In [80]:
l.remove("hola")

In [81]:
l

[0.0, 1, 3.333, 10, 'lista', 'hola']

In [82]:
l.index(10)

3

In [83]:
l.count(10)

1

In [97]:
f = [i for i in range(10)]

In [99]:
f

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# lists slicing
[start:end:step]

In [85]:
l[2:5] # desde el indice 2 al 4

[3.333, 10, 'lista']

In [86]:
l[:4] # desde el indice 0 hasta el 3

[0.0, 1, 3.333, 10]

In [87]:
l[2:] #desde el indice 2 hasta el Ãºltimo

[3.333, 10, 'lista', 'hola']

In [88]:
l[:] #lista completA

[0.0, 1, 3.333, 10, 'lista', 'hola']

In [89]:
l[0:len(l):2]

[0.0, 3.333, 'lista']

# set (conjunto)

In [90]:
conjunto = {1,2,3,4}

In [91]:
type(conjunto)

set

In [92]:
conjunto.add(5)

In [93]:
conjunto

{1, 2, 3, 4, 5}

In [94]:
conjunto.add(1)

In [95]:
conjunto

{1, 2, 3, 4, 5}

In [100]:
f_set = set(f)

In [102]:
type(f_set)

set

In [103]:
k = [1,2,3,4,4,5,6,7,8,9,4,5,6]
k_set = set(k)

In [104]:
print(k)
print(k_set)

[1, 2, 3, 4, 4, 5, 6, 7, 8, 9, 4, 5, 6]
{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [107]:
3 in conjunto

True

In [108]:
conjunto.remove(3)

In [110]:
conjunto.pop()

1

In [111]:
conjunto

{2, 4, 5}

# Diccionarios
dicc = {clave: valor}

In [112]:
dicc = {10:4, 5:"hola", 'a': 3, 7:"siete"}

In [113]:
type(dicc)

dict

In [115]:
dicc[10]

4

In [116]:
dicc[5]

'hola'

In [119]:
for i in dicc.values():
    print(i)

4
hola
3
siete

In [120]:
d = {x:x**2 for x in range(5)}

In [121]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [122]:
list(d)

[0, 1, 2, 3, 4]

In [123]:
len(d)

5

In [124]:
dicc['a'] = "tres"

In [126]:
dicc.keys()

dict_keys([10, 5, 'a', 7])

In [127]:
dicc.values()

dict_values([4, 'hola', 'tres', 'siete'])

# TUPLAS

In [128]:
a = ()

In [129]:
type(a)

tuple

In [130]:
b = (3,4,5,6)

In [131]:
for i in b:
    print(i)

3
4
5
6

In [132]:
b[0]

3

In [133]:
b[1] = 8 #modificar un valor no estÃ¡ permitido

TypeError: 'tuple' object does not support item assignment

In [134]:
h = 4,5,6,7,8

In [135]:
type(h)

tuple

In [137]:
tuple(l)

(0.0, 1, 3.333, 10, 'lista', 'hola')

In [138]:
range(10)

range(0, 10)

In [139]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [140]:
a = "", (), {}, []

In [142]:
for i in a:
    print(type(i))

<class 'str'>
<class 'tuple'>
<class 'dict'>
<class 'list'>

In [143]:
if "":
    print("vacio")
else:
    print("no vacio")

no vacio

# funciÃ³n print()

In [144]:
print("string")

string

In [147]:
print(1);print(3.9);print([])

1
3.9
[]

In [149]:
a = "variable a"
print(a)
print("hola")

variable a
hola

In [150]:
print("hola", "mundo", "Python")

hola mundo Python

In [152]:
print("hola",end="")
print("mundo",end="")
print("Python",end="")

holamundoPython

In [154]:
print("hola",end="-")
print("mundo")
print("Python",end="-")

hola-mundo
Python-

In [155]:
print(""" 
    hola
    como                                  estas ?????
    
    
    
    !!!!
""")

    hola
    como                                  estas ?????



    !!!!

In [156]:
"""comentario"""

'comentario'

# Entrada con input()

In [157]:
input()

asdasd

'asdasd'

In [158]:
var = input()

asdasd

In [159]:
var

'asdasd'

In [160]:
type(var)

str

In [161]:
y = input("ingrese una variable")

ingrese una variablehola

In [162]:
y

'hola'

# split

In [168]:
h = "HOLA MUNDO"
b = h.split()

In [171]:
b[0]; b[1]

'MUNDO'

In [172]:
h.split("M")

['HOLA ', 'UNDO']

In [165]:
s = input("ingrese nombre y edad: ")

ingrese nombre y edad: Francisco 27

In [175]:
#nombre = ""
#edad = 0
datos = s.split()
nombre = datos[0]
edad = datos[1]

In [176]:
print(nombre, edad)

Francisco 27

# Archivos

In [199]:
file = open("archivo.txt", "r")

In [179]:
type(file)

_io.TextIOWrapper

In [180]:
file.readline()

'Esto es un archivo de texto.\n'

In [181]:
file.readline()

'Esta es la Ãºltima linea del archivo.\n'

In [182]:
file.readline()

'1 2 3 4 5 6 7 8 9 10'

In [183]:
file.readline()

''

In [193]:
for linea in file:
    print(linea)

Esto es un archivo de texto.

Esta es la Ãºltima linea del archivo.

1 2 3 4 5 6 7 8 9 10

In [200]:
for i in file.readlines():
    print(i)

Esto es un archivo de texto.

Esta es la Ãºltima linea del archivo.

1 2 3 4 5 6 7 8 9 10

In [201]:
file.close()

In [203]:
file.readline()

ValueError: I/O operation on closed file.

In [204]:
nuevo = open("archivo_nuevo.txt", "w+")

In [205]:
nuevo.write("este archivo fue creado automaticamente por el programa...")

58

In [206]:
nuevo.close()

In [208]:
nuevo.closed

True

# Bibliotecas (o librerÃ­as)

In [209]:
import csv

In [211]:
with open("file.csv") as csvfile: # csvfile = open("file.csv")
    lector = csv.reader(csvfile)
    for i in lector:
        print(', '.join(i))

nombre, edad, sexo
pepe, 10, M
juanito, 12, M
tere,  20, F
juanita, 33, F

In [212]:
import numpy as np

In [213]:
np.abs(-13)

13

In [217]:
from numpy import eye, abs

In [216]:
eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [218]:
abs(0)

0